<div class="books">
    <div class="container">
        <div class="row">
          
            <div class="container mb-5 mt-5 float-start rounded shadow p-2" id="info">
                <form class="d-flex" role="search" id="form-busca-livro">
                    <input class="form-control rounded-pill" id="busca-livro" type="search" placeholder="Qual livro você deseja?">
                  </form>
            <h3 class="fw-bold mt-3 mb-3 mx-2">Filtrar por:</h3>
            <hr>
            
            <h4 class="mt-3 mx-2">Categorias 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg></h4>
            <h4 class="mt-3 mx-2">Autor </h4>
                <form class="d-flex mt-2" role="search">
                    <input class="form-control rounded-pill" id="busca-autor" type="search" placeholder="Digite o nome do autor">
                  </form>
            
            <h4 class="mt-3 mx-2">Preço</h4>
                <input class="form-control rounded-pill d-inline me-1 mb-3" id="busca-preco" type="number" placeholder="Minimo">
                <input class="form-control rounded-pill d-inline mb-3" id="busca-preco" type="number" placeholder="Maximo">
            </div>
            <div class="container rounded shadow p-3 mt-5 mb-5" id="produtos">

              <nav class="mb-4 mt-2">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#"><img src="../../../assets/images/arrow-pagination.png" id="seta-esquerda" width="20px" height="21px"></a>
                  </li>
                  <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"><img src="../../../assets/images/arrow-pagination.png" width="20px" height="21px"></a>
                  </li>
                </ul>
              </nav>
              
                  
                <div class="row mt-3 ms-1" id="col">
                  
                  <div class="card" style="width: 12rem;" >
                      <a href="livros/livro">
                      <img src="../../../assets/images/products/as16leis.jpg" class="card-img-top rounded" id="img-produto">
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">As 16 Leis do Sucesso</h5>
                        <h5 class="price">R$10,00<br>
                        <span>Parcele em até 3x</span></h5>
                      </div>
                    </div>
                  
                    <div class="card" style="width: 12rem;">
                      <img src="../../../assets/images/products/as16leis.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">As 16 Leis do Sucesso</h5>
                        <h5 class="price">R$10,00<br>
                        <span>Parcele em até 3x</span></h5>
                      </div>
                    </div>
                    <div class="card" style="width: 12rem;">
                      <img src="../../../assets/images/products/as16leis.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">As 16 Leis do Sucesso</h5>
                        <h5 class="price">R$10,00<br>
                        <span>Parcele em até 3x</span></h5>
                      </div>
                    </div>
                    <div class="card" style="width: 12rem;">
                      <img src="../../../assets/images/products/as16leis.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">As 16 Leis do Sucesso</h5>
                        <h5 class="price">R$10,00<br>
                        <span>Parcele em até 3x</span></h5>
                      </div>
                    </div>
                    <div class="card" style="width: 12rem;">
                      <img src="../../../assets/images/products/as16leis.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">As 16 Leis do Sucesso</h5>
                        <h5 class="price">R$10,00<br>
                        <span>Parcele em até 3x</span></h5>
                      </div>
                    </div>

                    <nav class=" mt-2">
                      <ul class="pagination justify-content-center">
                        <li class="page-item">
                          <a class="page-link" href="#"><img src="../../../assets/images/arrow-pagination.png" id="seta-esquerda" width="20px" height="21px"></a>
                        </li>
                        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#"><img src="../../../assets/images/arrow-pagination.png" width="20px" height="21px"></a>
                        </li>
                      </ul>
                    </nav>
                    
                    
                   
              </div>
            </div>
        </div>
    </div>
</div>
