<div class="container-flex">
    <div class="banner-ebook shadow p-3">   
        <div class="container">
            <div class="row" id="intro">
              <h1 class="text-center text-white ">BEM-VINDO</h1>
              <div class="mt-1 text-center">
                <a href="livros">
              <button id="btn-e" type="button" class="btn-lg btn px-4 btn-dark">Adquira o seu!</button>
            </a>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" >
    <div class="col-12 mt-5 mb-5">
        <h1 class="text-center" id="title">LANÇAMENTOS</h1>
        <hr id="hr">
        
        <div class="row justify-content-center" id="col">
            <div class="card" style="width: 16rem;">
                <img src="../../../assets/images/products/revolucaodosbichos.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">A Revolução dos Bichos</h5>
                  <h5 class="price text-center">R$10,00</h5>
                  
                </div>
              </div>
              <div class="card" style="width: 16rem;">
                <img src="../../../assets/images/products/revolucaodosbichos.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">A Revolução dos Bichos</h5>
                  <h5 class="price text-center">R$10,00</h5>
                  
                </div>
              </div>
              <div class="card" style="width: 16rem;">
                <img src="../../../assets/images/products/revolucaodosbichos.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">A Revolução dos Bichos</h5>
                  <h5 class="price text-center">R$10,00</h5>
                  
                </div>
              </div>
              <div class="card" style="width: 16rem;">
                <img src="../../../assets/images/products/revolucaodosbichos.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">A Revolução dos Bichos</h5>
                  <h5 class="price text-center">R$10,00</h5>
                  
                </div>
              </div>
              <div class="card" style="width: 16rem;">
                <img src="../../../assets/images/products/revolucaodosbichos.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">A Revolução dos Bichos</h5>
                  <h5 class="price text-center">R$10,00</h5>
                  
                </div>
              </div>
              <div class="card" style="width: 16rem;">
                <img src="../../../assets/images/products/revolucaodosbichos.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">A Revolução dos Bichos</h5>
                  <h5 class="price text-center">R$10,00</h5> 
                </div>
              </div>  
        </div>
    </div>
</div>

<div class="container-flex">
  <div class="categorias ">
    <div class="container">
      
      <div class="row">
        
      <h1 id="title" class="mx-3">
        CATEGORIAS
      </h1>
      <hr id="hr">

      <div class="row" id="row-categorias">
        <div class="col-sm-6 mt-4">
          <div class="card-category shadow p-2" id="card-bio">
            <div class="card-body text-center">
              <h5 class="card-title mt-5" id="card-title">BIOGRAFIAS</h5>
              
              <a href="#" class="btn btn-dark mt-3">Confira</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="card-category shadow p-2" id="card-fic">
            <div class="card-body text-center">
              <h5 class="card-title mt-5" id="card-title">FICÇÃO</h5>
              <a href="#" class="btn btn-dark mt-3">Confira</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="card-category shadow p-2" id="card-terror">
            <div class="card-body text-center">
              <h5 class="card-title mt-5" id="card-title">TERROR | HORROR</h5>
              <a href="#" class="btn btn-dark mt-3">Confira</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="card-category shadow p-2" id="card-selfhelp">
            <div class="card-body text-center">
              <h5 class="card-title mt-5" id="card-title">AUTO-DESENVOLVIMENTO</h5>
              <a href="#" class="btn btn-dark mt-3" >Confira</a>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3 mb-5">
          <a href="livros">
          <button type="button" class="btn btn-outline-warning px-5" id="btn-vermais">VER MAIS</button>
        </a>
        </div>
        
      </div>
    </div>
    </div>
  </div>
</div>



