<div class="livro-detalhe">
    <div class="container">
        <div class="row">
            <div class="container shadow p-3 rounded" id="cont-livro">
                <div class="d-flex mt-4">
                <div class="col1 ms-5">
                    <a href="livros" class="voltar mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-arrow-left-circle mb-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                              </svg>
                        </a>
                    <h1 class="fw-bold">As 16 Leis do Sucesso</h1>
                    <span>Por Napoleon Hill</span>
                    <h1 class="fw-bold text-success mt-5">R$10,00</h1>
                    <span>Até 3x sem juros</span><br>
                    <a href="pagamento">
                        <button type="button" class="btn btn-outline-primary btn-lg mt-4">Adicionar ao Carrinho
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart2 mb-2" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                              </svg>
                        </button>
                        </a><br>
                    <a href="pagamento">
                            <button type="button" class="btn btn-success btn-lg mt-2" id="comprar">Comprar agora</button>
                    </a>                   
                </div>

                    <img src="../../../assets/images/products/as16leis.jpg" class="rounded">
            </div>
                <div class="mx-5 mb-4">
                    <h2 class="fw-bold mt-5">Detalhes do Livro</h2>
                    <div class="linha1 mb-3"></div>
                    <h3 class="fw-bold">Genero:</h3>
                    <h5>Auto-Desenvolvimento</h5>
                    <h3 class="fw-bold">Editora:</h3>
                    <h5>Faro Editorial; 1ª edição (1 junho 2017)</h5>
                    <h3 class="fw-bold">Descrição:</h3>
                    <h5><strong>16 Leis do Sucesso</strong> é um curso prático que reúne as 16 poderosas lições que são as bases de toda filosofia de Napoleon Hill, o maior gênio na área da realização pessoal e psicologia aplicada de todos os tempos.</h5>
                </div>

                    

            </div>
        </div>
    </div>
</div>
