<div class="compra-realizada">
    <div class="container">
        <div class="row">
            <h1 class="text-center mt-5 fw-bold">Compra realizada com sucesso!</h1>
            <h3 class="text-center mt-2">Você conseguiu efetuar sua compra!<br>
                 O ebook estará disponivel em seu email em poucos minutos.</h3>
            <a href="" class="text-center mt-4">
                <button type="button" class="btn btn-primary btn-lg text-center">Voltar para a página principal</button>
                </a>
            </div>
        </div>
    </div>
