/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(107, 107, 107); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    transition: 3s;
    background: rgb(59, 59, 59); 
  }

